@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #737CA1;
  --background: #F0F2F5;
  --accent: #8661C1;
}

body {
  background-color: var(--background);
  font-family: 'Inter', sans-serif;
}